graphdb
graphdb-import
virtuoso/*
!virtuoso/load.sh
!virtuoso/virtuoso.ini
*.tsv
*.csv
!split-rules.csv
*.xml
*.pdf
*.doc
*.docx
*.odt
*.nq
*.properties
*.trig
input/*
!input/README.md
output/*
!output/README.md
data2services-cwl-workflows
